body{
    margin: 0;
}
.container{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.head-background{
    background-color: black;
    width: 100%;
    min-width: 300px;
    height: 400px;
    display: flex;
    padding-left: 150px;
    padding-right: 150px;
}
.head-container{
    width: 100%;
    margin-top: 50px;
}
.name-section{
    border: 1px solid rgb(227, 227, 227);
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
    width: 100%;
    height: 74px;
    color: white;
}
.img-section{
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.profile{
    width: 100%;
    height: 200px;
    border-radius: 8cap;
}
.box {
    height: 100px;
    display: flex;
    align-items: center;
}
.b-t{
    text-decoration: none;
    font-weight:bold;  
    transition: all 0.3s;
}
.header-box {
    position: absolute;
    top: 320px;
    width: 500px;
    height: 65px;
    box-sizing:border-box;
    background:#ffffff;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}
.box:hover .header-box{
    opacity: 1;
    visibility: visible;
}
.header-box li {
    font-size: 15px;
    text-decoration: none;
    font-weight:bold; 
    display:inline-block;
    padding:0 0 10px 20px;
    color:#000000;
}
.my-container{
    width: 100%;
    height: 250px;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
}
.my-project{
    border: 1px solid rgb(154, 110, 195);
    border-radius: 20px;
    width: 80%;
    min-width: 200px;
    height: 170px;
    display: flex;
    margin-top: 30px;
}
.head-project{
    width: 50%;
    height: 100%;
}
.body-project{
    height: 35%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-project{
    border-top: 1px solid rgb(9, 8, 10);
    height: 20%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot-project a {
    cursor: pointer;
}
.update-page{
    border: 1px solid rgb(154, 110, 195);
    display: flex;
    justify-content: center;
    height: 100px;
}
.update-btn{
    height: 50px;
    width: 70%;
    font-size: 30px;
    cursor: pointer;
    border: 0px;
}
.update-btn:hover{
    font-size: 32px;
}




@media (max-width: 650px) {
    .header-box {
        width: 300px;
        height: 120px;
    }
    .head-background{
        padding: 0px 0px 0px 0px;
    }
    .foot-project{
        font-size: 15px;
    }
    .head-container{
        padding-left: 10px;
    }

}

