.designer-container{
    margin-top: 80px;
    max-width: 100%;
    height: 100%;
    padding-left: 10%;
}
.pro-container{
    width: 100%;
    height: 100%;
}
.pro-img{
    width: 300px;
    height: 250px;
    border-radius: 1%;
}
.desig-name{
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-grid{
    display: grid;
    column-gap: 100px;
    row-gap: 40px;
}

.del-btn:hover{
    font-size: 18px;
}
.del-btn{
    width: 70px;
    height: 30px;
    background-color: rgb(248, 113, 113);
    border: 1px solid rgb(248, 113, 113);
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}
.edit-btn{
    width: 60px;
    height: 30px;
    background-color: #007bff;
    border: 1px solid #007bff;
    color: white;
    margin-right: 5px;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
}
.edit-btn:hover{
    font-size: 18px;
}
.btn-manager{
    display: flex;
    justify-content: space-around;
    width: 300px;
    margin-top: 10px;
}

@media (max-width: 5000px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 1286px) {
    .designer-container {
        padding-left: 0px;
    }
}
@media (max-width: 1100px) {
    .designer-container{
        padding-left: 5px;
    }
    .video-grid{
        column-gap: 20px;
    }
}
@media (max-width: 973px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 653px) {
    .video-grid{
        grid-template-columns: 1fr;
    }
    .pro-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


