<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/.mybatis-3-config.dtd">
  
  <configuration>
  
  	<!-- settings : mybatis구동시 선언할 설정들을 작성하는 영역 -->
  	<settings>
  		<!-- 만약 null로 데이터가 전달되었다면 빈칸이 아닌 null로 인식해라(무조건대문자NULL) -->
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	</settings>
  	

  	<typeAliases>
  		<typeAlias type="com.matcha.mvc.member.vo.Member" alias="Member" />
  		<typeAlias type="com.matcha.mvc.member.vo.MemberImg" alias="MemberImg" />
  		<typeAlias type="com.matcha.mvc.template.vo.Template" alias="Template" />
  		<typeAlias type="com.matcha.mvc.template.vo.TemplateImg" alias="TemplateImg" />
  		<typeAlias type="com.matcha.mvc.template.vo.TemplateReply" alias="TemplateReply" />
  		<typeAlias type="com.matcha.mvc.review.vo.Review" alias="Review" />
  		<typeAlias type="com.matcha.mvc.review.vo.ReviewImg" alias="ReviewImg" />
  		<typeAlias type="com.matcha.mvc.mail.vo.Mail" alias="Mail" />
  		<typeAlias type="com.matcha.mvc.chatting.vo.Chatting" alias="Chatting" />
  		<typeAlias type="com.matcha.mvc.chatting.vo.ChatRoom" alias="ChatRoom" />
  	</typeAliases>


  	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/template-mapper.xml" />
		<mapper resource="/mappers/review-mapper.xml" />
		<mapper resource="/mappers/mail-mapper.xml" />
		<mapper resource="/mappers/chatting-mapper.xml" />
  	</mappers>

 
  </configuration>