body{
    margin: 0;
    background: white;
    padding-top: 60px;
    /* padding-left: 40px;
    padding-right: 50px; */
    font-family: 'Noto Sans KR', sans-serif;
    }
.header{
    /* border: 1px solid red; */
    border-bottom: 1px solid #6c6464;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    top: 0;
    left: 0px;
    right: 0px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: #fff;
    height: 70px;
}
.left-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left-section > strong{
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px
}
.head-btn{
    font-size: 17px;
    margin-left: 10px;
    margin-right: 10px;
    border: 0px;
    background-color: white;
    cursor: pointer;
}
.head-btn:hover{
    font-size: 20px;
    font-weight: bolder;
}

.right-section{
    display: flex;
    align-items: center;
    height: 70px;
}

.left-li{
    margin: 0px 10px 0px 10px;
}

.main-log{
    display: none;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.main-log > strong{
    /* display: none; */
    font-size: 50px;

}
@media (max-width: 850px) {
    .left-section{
        display: none;
    }
    .right-section{
        display: none;
    }
    .main-log{
        display: block;
    }
}


.box {
    height: 100%;
    display: flex;
    align-items: center;
    padding:0 0 0 20px;
}
.b-t{
    font-size:14px;
    text-decoration: none;
    font-weight:bold;  
    transition: all 0.3s;
    color:#000;
}

.header-box {
    position: absolute;
    top: 70px;
    width: 200px;
    height: 400px;
    box-sizing:border-box;
    padding: 20px;
    background:#002fa7;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
}
.box:hover .header-box{
    opacity: 1;
    visibility: visible;
}
.header-box li {
    font-size: 15px;
    text-decoration: none;
    font-weight:bold; 
    display:inline-block;
    padding:0 0 10px 20px;
    color:#fff;
}

.box1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box1 > strong{
    font-size: 50px;
  }
  .header-box1 {
    position: absolute;
    top: 70px;
    width: 100%;
    height: 330px;
    box-sizing:border-box;
    padding: 20px;
    background:#002fa7;
    transition: all 0.3s;
    opacity: 0;
    visibility: hidden;
  }
  .box1:hover .header-box1 {
    opacity: 3;
    visibility: visible;
  }
  .header-box1 li {
    font-size: 15px;
    text-decoration: none;
    font-weight:bold; 
    display:inline-block;
    padding:0 0 10px 20px;
    color:#fff;
    text-decoration-line: none;
  }
  .header-box1 li a{
    font-size: 25px;
    text-decoration: none;
    font-weight:bold; 
    display:inline-block;
    padding:0 0 10px 20px;
    color:#fff;
  }
.midea-btn{
    border: 0px;
    background-color: #002fa7;
    font-size: 25px;
    color: white;
    cursor: pointer;
}
.midea-btn:hover{
    font-size: 30px;
    font-weight: bolder;
}

.main-container{
    display: flex;
}
.img-container{
    width: 100%;
    height: 100%;
    display: none;
}
.log-img{
    width: 100%;
    height: 400px;
}
.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding: 0px 20px 0px 20px;
}

.top-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
.top-title > h1{
    font-weight: bolder;
    margin: 0;
    font-size: 50px;
    margin-bottom: 20px;
}
.top-title > span{
    font-size: 12px;
}
.input-container{
    margin-top: 10px;
}
.input-container > input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 10px 0;
    width: 100%;
}

.Sign-btn {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
}
.SignUp-btn{
    border-radius: 20px;
    border: 1px solid #2395e2;
    background-color: #2395e2;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.login-btn{
    border: 1px solid rgb(200, 200, 216);
    background-color: white;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    cursor: pointer;
}
.login-btn:hover{
    background-color: #FF4B2B;
    font-size: 20px;
}

@media (min-width: 576px){
    .img-container{
        display: block;
    }
}


.check-btn{
    width: 120px;
    height: 48px;
    border: 0px;
}
.check-btn:hover{
    font-size: 20px;
}
.text-pwd{
    font-size:0.7em; color:red;
}
.select {
    padding: 15px 10px;
    display: flex;
    justify-content: center;
}
.select input[type=radio]{
    display: none;
}
.select input[type=radio]+label{
    display: inline-block;
    cursor: pointer;
    border: 1px solid #333;
    line-height: 24px;
    font-weight:bold;
}
.select input[type=radio]+label{
    background-color: #fff;
    color: #333;
    width: 50%;
    min-width: 100px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.select input[type=radio]:checked+label{
    background-color: #333;
    color: #fff;
}
